%add-card-star-2 {
    background-image: url(../images/sprite.png);
    background-position: -488px -340px;
    width: 34px;
    height: 32px;
}
%add-card-star {
    background-image: url(../images/sprite.png);
    background-position: -546px 0px;
    width: 34px;
    height: 32px;
}
%card {
    background-image: url(../images/sprite.png);
    background-position: -80px -502px;
    width: 19px;
    height: 16px;
}
%close-2 {
    background-image: url(../images/sprite.png);
    background-position: -42px -502px;
    width: 18px;
    height: 18px;
}
%close {
    background-image: url(../images/sprite.png);
    background-position: 0px -502px;
    width: 22px;
    height: 22px;
}
%delivery-hover {
    background-image: url(../images/sprite.png);
    background-position: -84px -418px;
    width: 63px;
    height: 64px;
}
%delivery {
    background-image: url(../images/sprite.png);
    background-position: -167px -418px;
    width: 63px;
    height: 64px;
}
%discount-2 {
    background-image: url(../images/sprite.png);
    background-position: -418px -340px;
    width: 50px;
    height: 35px;
}
%discount {
    background-image: url(../images/sprite.png);
    background-position: -418px -168px;
    width: 96px;
    height: 68px;
}
%down-new {
    background-image: url(../images/sprite.png);
    background-position: -224px -194px;
    width: 18px;
    height: 10px;
}
%down-table-2 {
    background-image: url(../images/sprite.png);
    background-position: -262px -194px;
    width: 15px;
    height: 9px;
}
%down-table {
    background-image: url(../images/sprite.png);
    background-position: -546px -424px;
    width: 30px;
    height: 17px;
}
%down {
    background-image: url(../images/sprite.png);
    background-position: -332px -194px;
    width: 12px;
    height: 7px;
}
%fb {
    background-image: url(../images/sprite.png);
    background-position: -546px -248px;
    width: 24px;
    height: 24px;
}
%filter-close {
    background-image: url(../images/sprite.png);
    background-position: -546px -380px;
    width: 23px;
    height: 24px;
}
%filter {
    background-image: url(../images/sprite.png);
    background-position: -494px -418px;
    width: 21px;
    height: 24px;
}
%gift-hover {
    background-image: url(../images/sprite.png);
    background-position: -418px -256px;
    width: 64px;
    height: 64px;
}
%gift {
    background-image: url(../images/sprite.png);
    background-position: 0px -418px;
    width: 64px;
    height: 64px;
}
%in {
    background-image: url(../images/sprite.png);
    background-position: -546px -336px;
    width: 24px;
    height: 24px;
}
%like-hover {
    background-image: url(../images/sprite.png);
    background-position: -250px -418px;
    width: 57px;
    height: 64px;
}
%like {
    background-image: url(../images/sprite.png);
    background-position: -327px -418px;
    width: 57px;
    height: 64px;
}
%next-mini {
    background-image: url(../images/sprite.png);
    background-position: -546px -52px;
    width: 20px;
    height: 34px;
}
%next {
    background-image: url(../images/sprite.png);
    background-position: -404px -418px;
    width: 25px;
    height: 45px;
}
%prev-mini {
    background-image: url(../images/sprite.png);
    background-position: -546px -106px;
    width: 20px;
    height: 34px;
}
%prev {
    background-image: url(../images/sprite.png);
    background-position: -449px -418px;
    width: 25px;
    height: 45px;
}
%remove {
    background-image: url(../images/sprite.png);
    background-position: -502px -256px;
    width: 21px;
    height: 25px;
}
%rf-hover {
    background-image: url(../images/sprite.png);
    background-position: -418px -84px;
    width: 108px;
    height: 64px;
}
%rf {
    background-image: url(../images/sprite.png);
    background-position: -418px 0px;
    width: 108px;
    height: 64px;
}
%star-2 {
    background-image: url(../images/sprite.png);
    background-position: -502px -301px;
    width: 20px;
    height: 18px;
}
%star-hover {
    background-image: url(../images/sprite.png);
    background-position: -546px -204px;
    width: 26px;
    height: 24px;
}
%star {
    background-image: url(../images/sprite.png);
    background-position: -546px -160px;
    width: 26px;
    height: 24px;
}
%up-table-2 {
    background-image: url(../images/sprite.png);
    background-position: -297px -194px;
    width: 15px;
    height: 8px;
}
%up-table {
    background-image: url(../images/sprite.png);
    background-position: -546px -461px;
    width: 29px;
    height: 16px;
}
%vk {
    background-image: url(../images/sprite.png);
    background-position: -546px -292px;
    width: 24px;
    height: 24px;
}
%wrong-1 {
    background-image: url(../images/sprite.png);
    background-position: 0px 0px;
    width: 204px;
    height: 204px;
}
%wrong-2 {
    background-image: url(../images/sprite.png);
    background-position: 0px -224px;
    width: 174px;
    height: 174px;
}
%wrong-3 {
    background-image: url(../images/sprite.png);
    background-position: -194px -224px;
    width: 174px;
    height: 174px;
}
%wrong-4 {
    background-image: url(../images/sprite.png);
    background-position: -224px 0px;
    width: 174px;
    height: 174px;
}
